.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.header {
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(pics/beach.jpg);
    background-size: cover;
}

.header .img-fluid {
    height: 100vh;
}

.heading {
    height: 200px;
    text-align: center;
    background-color: #fff;
}

.heading .img-fluid {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

.other {
    background-color: rgba(255,255,255,0.9);
}

nav .row {
    width: 100vw;
}

nav ul li a {
    color: #000;
    font-family: 'Segoe Script';
    font-size: 26px;
    text-align: center;
}

a:hover {
    color: #0077BE;
}

a, p, h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Segoe Script';
    text-align: center;
}

p {
    font-size: 20px;
}

.gmap {
    width: inherit;
    height: 50%;
}

.mapouter {
    text-align: right;
    height: inherit;
    width: inherit;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: inherit;
    width: inherit;
}
